# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [7]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
path = Path("/content/applicants_data.csv")

applicant_data_df = pd.read_csv(path)


# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [8]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [9]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns="EIN")
applicant_data_df = applicant_data_df.drop(columns="NAME")
# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [10]:
# Create a list of categorical variables 
list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [11]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [12]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [13]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [14]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [15]:
# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [16]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df], axis=1)
encoded_df.drop(['APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'],inplace=True,axis=1)
# Review the Dataframe
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [17]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [18]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.loc[:, encoded_df.columns != 'IS_SUCCESSFUL']

# Review the features DataFrame
X

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179

### Step 6: Split the features and target sets into training and testing datasets.

In [19]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [20]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [21]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [26]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [24]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [25]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [27]:
# Create the Sequential model instance
nn = Sequential()

In [28]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [29]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [30]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [31]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [32]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [33]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5764 - accuracy: 0.7197
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7303
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7313
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7327
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7331
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7337
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7342
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7350
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7339
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7354
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7346
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7361
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7355
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7368
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7374
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7373
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7370
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7383
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7385
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7374
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7378
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7386
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7391
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7382
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7389
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7383
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7385
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7387
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7406
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7400
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7383
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7395
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7404
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7394
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7391
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7385
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7389
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7390
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7402
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7409
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7394
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5334 - accuracy: 0.7401
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7393
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7403
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7397
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7399
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7400
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7400

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [34]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5534 - accuracy: 0.7307 - 436ms/epoch - 2ms/step
Loss: 0.5534202456474304, Accuracy: 0.7307288646697998

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [37]:
# Set the model's file path
file_path = Path("/content/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [38]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [40]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 3

In [41]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

59

In [42]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [45]:
# Second hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + number_output_neurons_A1) // 2

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Add the first hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))
# Add the second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))
# Add the output layer to the model specifying the number of output neurons and activation function
nn_A1.add(Dense(units=1, activation="sigmoid"))

In [47]:
# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 59)                6903

 dense_4 (Dense)             (None, 31)                1860

 dense_5 (Dense)             (None, 1)                 32

=================================================================
Total params: 8,795
Trainable params: 8,795
Non-trainable params: 0
_________________________________________________________________

In [48]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [49]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5798 - accuracy: 0.7167
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5533 - accuracy: 0.7290
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5506 - accuracy: 0.7303
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7314
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7318
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7330
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7347
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7353
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7332
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7358
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7344
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7353
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7354
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7361
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7372
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7374
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7372
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7368
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7379
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7379
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7376
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7376
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7375
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7381
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7385
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7388
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7390
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7392
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7392
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7390
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7391
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7393
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7408
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7396
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7401
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7392
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7401
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7406
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7413
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7405
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7409
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7406
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7407
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7408
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7400
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7412

#### Alternative Model 2

In [50]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [52]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [53]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + number_output_neurons_A2) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [54]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [55]:
# Second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + number_output_neurons_A2) // 2

# Third hidden layer
hidden_nodes_layer3_A2 = (hidden_nodes_layer2_A2 + number_output_neurons_A2) // 2

In [56]:
# Add the first hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))
# Add the second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))
# Add the third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))
# Add the output layer to the model specifying the number of output neurons and activation function
nn_A2.add(Dense(units=1, activation="sigmoid"))

In [57]:
# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 58)                6786

 dense_7 (Dense)             (None, 29)                1711

 dense_8 (Dense)             (None, 15)                450

 dense_9 (Dense)             (None, 1)                 16

=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [58]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [67]:
# Fit the model
fit_model = nn_A2.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
804/804 [==============================] - 3s 4ms/step - loss: 0.5274 - accuracy: 0.7429
Epoch 2/10
804/804 [==============================] - 3s 3ms/step - loss: 0.5276 - accuracy: 0.7427
Epoch 3/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5274 - accuracy: 0.7427
Epoch 4/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5267 - accuracy: 0.7423
Epoch 5/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5268 - accuracy: 0.7430
Epoch 6/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7436
Epoch 7/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5266 - accuracy: 0.7435
Epoch 8/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7429
Epoch 9/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5277 - accuracy: 0.7427
Epoch 10/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5270 - accuracy: 0.7432

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [62]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.5534 - accuracy: 0.7307 - 582ms/epoch - 2ms/step
Loss: 0.5534202456474304, Accuracy: 0.7307288646697998

In [63]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.5630 - accuracy: 0.7299 - 714ms/epoch - 3ms/step
Loss: 0.5630014538764954, Accuracy: 0.729912519454956

In [68]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5651 - accuracy: 0.7304 - 308ms/epoch - 1ms/step
Loss: 0.5651192665100098, Accuracy: 0.7303789854049683

### Step 3: Save each of your alternative models as an HDF5 file.

In [69]:
# Set the file path for the first alternative model
file_path = Path("/content/AlphabetSoupA1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [70]:
# Set the file path for the second alternative model
file_path = Path("/content/AlphabetSoupA2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)